name: RAPx - Asterinas

on: [push]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: os-checker/asterinas
          ref: rapx

      - name: install rapx
        run: |
          cd
          git clone https://github.com/os-checker/RAPx
          cd RAPx
          git switch fix-bb_-1
          ./install.sh

      - name: setup toolchain
        run: |
          rustup default nightly-2025-12-06
          rustup target add x86_64-unknown-none

      - name: install graphvis
        run: sudo apt update && sudo apt install -y graphviz 

      - name: check
        continue-on-error: true
        run: |
          cd kernel
          export VDSO_LIBRARY_DIR=$PWD/linux_vdso
          cargo rapx -F -M -- --target x86_64-unknown-none 2>&1 1>rapx.txt

      - name: upload rapx.txt
        uses: actions/upload-artifact@v4
        with:
          path: kernel/rapx.txt
          name: rapx.txt
